spring:
  application:
    name: Username-Password-Authentication

  datasource:
    url: jdbc:h2:mem:authdb
    username: sa
    password:

logging:
  level:
    org:
      springframework:
        security: TRACE