spring:
  application:
    name: resource-server

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/keycloaktc

logging:
  level:
    org:
      springframework:
        security: TRACE